* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    display: grid;
	margin: 0;
    border:  solid salmon;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 20vh 60vh 20vh;
  
}

header {
    border: 2px solid black;
    grid-column: 1 / span 2;
}

aside {
    border: 2px solid aqua;
}

main {
    border: 2px solid yellow;
}

footer {
    border: 2px solid red;
    grid-column: 1 / span 2;
}